build/
# 忽略 CMake 生成的头文件
include/

# 忽略 CMake 自动生成的缓存和脚本
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install/
Makefile
# 忽略 Ninja 构建生成的日志
.ninja_deps
.ninja_log
build.ninja

.vs/
.idea/
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.opendb

*.lib
# 动态链接库
*.dll
# 可执行文件
*.exe
# 调试符号和中间文件
*.pdb
*.obj
*.ilk
*.exp
*.res
*.tlog
*.lastbuildstate

*.pch

CMakePresets.json

Thumbs.db
.DS_Store